<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2><%= t("pages.home.make_your_tasks_better_and_join_to_us")%></h2>
            <%= link_to(t("pages.home.sign_up_now"), new_user_registration_path, class: "btn btn-default btn-xl sr-button") %>
        </div>
    </div>
</aside>
