<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading"><%= t("pages.home.share_task_with_your_friends_and_organize_your_live")%></h1>
            <hr>
            <p><%= t("pages.home.apresentation_text") %></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"><%= t("pages.home.find_out_more") %></a>
        </div>
    </div>
</header>
