<div class="line-space"></div>
<div class="line-space"></div>

<footer class="footer">
  <div class="container">
    <p class="text-muted pull-left"><%= t("footer.copyright") %></p>
    <p class="text-muted pull-right"><%= t("footer.by") %></p>
  </div>
</footer>
