<ul class="nav navbar-nav navbar-right">
    <li>
        <%= link_to(t("menu.sign_up"), new_user_registration_path) %>
    </li>
    <li>
        <%= link_to(t("menu.sign_in"), new_user_session_path) %>
    </li>
</ul>
